---
title: Publikationen
---

<!DOCTYPE html>
<html lang="DE-de">
  <head>
    {%- include head.html -%}
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <div class="timeline">      
      <ul class="timeline__year--list">
        {% for year in site.data.publications.years %}
        <li class="timeline__year--element">
          <div class="timeline__line" role="presentation"></div>
            <h2 class="timeline__year--date">{{ year.name }}</h2>
            <div class="timeline__year--content">
              <ul class="timeline__publication--list">
                  {% for element in year.elements %}
                  <li class="timeline__publication--element">                 
                    <div class="timeline__publication--content">
                      <input type="checkbox" name="collapse" id="{{ element.id }}">
                      <label for="{{ element.id }}" class="timeline__publication--summary">
                        <div class="timeline__publication--image">                
                          <div class="timeline__publication--image-preview">                        
                            <img src="../assets/img/{{ element.preview }}" alt="{{ element.title }} (Preview)">
                          </div>
                          <div class="timeline__publication--image-detail">                        
                            <img src="../assets/img/{{ element.image }}" alt="{{ element.title }} (Detail)">
                          </div>
                        </div>
                        <div class="timeline__publication--description">
                          <h3 class="timeline__publication--title">{{ element.title }}</h3>
                          <h4 class="timeline__publication--author">{{ element.authors }}</h4>
                          <p class="timeline__publication--location">{{ element.reference }}</p>                        
                        </div>
                        <div class="timeline__publication--icons">
                          {% if element.doi and element.doi != nil and element.doi != '' %}
                            <div class="icon__publication">
                              <a title="download reference {{ element.id }}" href="{{ element.doi }}" target="_blank" class="icon__publication--download"></a>
                            </div>
                          {% endif %}
                          <div class="icon__publication">
                            {% case element.type %}
                              {% when 'monography' %}
                              <div class="icon__publication--book"></div>
                              {% when 'poster' %}
                              <div class="icon__publication--poster"></div>
                              {% when 'journal' %}
                              <div class="icon__publication--journal"></div>
                              {% when 'conference' %}
                              <div class="icon__publication--conference"></div>
                              {% else %}
                              <div class="icon__publication--undefined"></div>
                            {% endcase %}
                          </div>
                          <div class="icon__language">
                            {{ element.lang }}
                          </div>                            
                        </div>
                      </label> 
                      <div class="timeline__publication--detail-view">
                        <div class="timeline__publication--detail-container">
                          <div class="timeline__publication--abstract">
                            <div class="timeline__publication--abstract-title">
                              Zusammenfassung
                            </div>
                            <div class="timeline_publication--abstract-content">
                              {% if element.abstract and element.abstract != '' and element.abstract != nil %}
                                {%- include abstracts/{{element.abstract}} -%}
                              {% endif %}
                            </div>                                                  
                          </div>
                          <div class="timeline__publication--keywords">
                            {% for word in element.keywords %}
                              <span>{{ word }}</span>
                            {% endfor %}
                          </div>
                          {% if element.doi and element.doi != '' and element.doi != nil %}
                          <div class="timeline__publication--doi">
                            <a href="{{ element.doi }}">{{element.doi}}</a>
                          </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
              </ul>
            </div>
            
        </li>
        {% endfor %}
    </ul>
    <h1>Statistiken</h1>
    <h2>Publikationen nach Jahr</h2>
    <div id="dataVis_numPubYear">
    </div>
    <div class="visualization__authors">
      <div class="visualization__authors--simple">
        <h2>Co-Autoren</h2>
        <div class="visualization__authors--buttons">
          <p>Sortierung</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="d" name="sort" value="0" onchange="drawAuthors(url, this.value)">
            <label class="form-check-label" for="d">Datum (neuste zuerst)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="h" name="sort" value="1" onchange="drawAuthors(url, this.value)" checked>
            <label class="form-check-label" for="h">Häufigkeit</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="n" name="sort" value="2" onchange="drawAuthors(url, this.value)">
            <label class="form-check-label" for="n">Name</label>
          </div>
        </div>
        <div class="visualization__authors--diagram" id="dataVis_Authors"></div>
      </div>
      <div class="visualization__authors--timeline">
        <h2>Timeline</h2>
        <div class="visualization__authors--diagram" id="dataVis_AuthorPeriod"></div>
      </div>
    </div>

    <div class="visualization__keywords">
      <div class="visualization__keywords--spider">
        <h2>H&auml;ufigste Keywords</h2>
        <div id="dataVis_KeywordsSpider"></div>
      </div>
      <div class="visualization__keywords--simple">
        <h2>Verteilung Keywords</h2>
        <div id="dataVis_KeywordsDonut"></div>
      </div>
    </div>
    <h2>Alle Keywords</h2>
    <div id="dataVis_Keywords"></div>
    <script> 

      {%- include script/utility.js -%}
      {%- include script/drawPublicationsStackedBars.js -%}
      
      {%- include script/drawAuthorsSimpleBars.js -%}
      {%- include script/drawAuthorsPeriod.js -%}

      {%- include script/drawKeywordsSimpleBars.js -%}
      {%- include script/drawKeywordsSpider.js -%}
      {%- include script/drawKeywordsDonut.js -%}

      const barColor = "#0084ba";
      const barColor_light = "#1cbefe";
      const barcolor_rgb = "0, 132, 184";
      const barColor2 = "#aaa"
      const circleColor = "#0084ba";
      const circleOutline = "#fff";
      
      const publicationTypeNames = new Map([
            [ "conference", "Konferenzproceeding"],
            [ "journal", "Journal"],
            [ "monography", "Monographie"],
            [ "poster", "Poster/Demo"]
          ]);
      
      const publicationTypeColors = ["#00354a", "#006a95", "#339dc8", "#99cee3"];
      const keywordColors = [
        "#000d13",
        "#004a2e",
        "#00354a",
        "#4a1a00",
        "#007046",
        "#005c82",
        "#822e00",
        "#0084ba",
        "#00a768",
        "#ba4100",
        "#339dc8",
        "#33c890",
        "#c86733"
      ];

      const url = "../assets/data/publications.json";
      
      drawPublications(url, "#dataVis_numPubYear");
      drawAuthors(url, "#dataVis_Authors", 1);
      drawAuthorPeriod(url, "#dataVis_AuthorPeriod");
      drawKeywords(url, "#dataVis_Keywords", 1);
      drawKeywordsSpider(url, "#dataVis_KeywordsSpider");
      drawKeywordsDonut(url, "#dataVis_KeywordsDonut");
    </script>
  </body>
</html>