<p>
  4D-CAD-Technologien werden in zunehmendem Maße zur Planung von Bauvorhaben
  eingesetzt. Die Forschung fokussierte sich in diesem Bereich in den
  vergangenen Jahren allerdings hauptsächlich auf die Aspekte der Verknüpfung
  von Planungsdaten und Modelldaten, sowie auf die automatisierte Erfassung und
  Aktualisierung des Baufortschrittes am 3D-Modell und im Bauablaufplan.
</p>
<p>
  Andererseits stellt sich die Frage in welchem Maße 4DCAD zur Visualisierung
  von Abweichungen vom Projektplan, die im aktuellen Bauzustand auftreten,
  dienen kann und durch welche Visualisierungsmethoden eine solche Problematik
  bestmöglich erfasst werden kann. In diesem Artikel soll, basierend auf
  bisherigen Forschungsansätzen im Bereich 4D-CAD, ein Entwurf vorgestellt
  werden, der den aktuellen Baufortschritt und auftretende Abweichungen von dem
  geplanten Bauablauf effektiv visualisieren soll. Der Fokus liegt hierbei auf
  dem Bereich des Hochbaus.
</p>
<p>
  Abschließend wird eine Einschätzung abgegeben, inwiefern der
  Visualisierungsvorschlag auf verwandte Bereiche des Bauwesens übertragbar ist
  und welche zukünftigen Fragestellungen sich daraus ergeben.
</p>
