<p>
  Die Verwendung von multimedialen Geräten findet in zunehmendem Maße Einzug in
  den alltäglichen Gebrauch. Um die Nutzung dieser Geräte für den Anwender
  intuitiv zu gestalten, wurden verschiedenste Eingabemöglichkeiten entwickelt.
  Angefangen bei der Sprachsteuerung bis hin zur Multi-Touch-Bedienung besteht
  ein Ziel der aktuellen Forschung im Bereich von Benutzerschnittstellen, eine
  natürliche Interaktion zu erreichen.
</p>
<p>
  Von Bedeutung ist in diesem Zusammenhang auch die Unterstützung mehrerer
  Eingabemodalitäten. Da die Interaktion von Menschen untereinander viele
  unterschiedliche Kommunikationskanäle nutzt, ist es naheliegend die
  verschiedenen Interaktionsmodalitäten auf die Mensch-Maschine-Interaktion zu
  übertragen. Neben der verbalen Kommunikation nutzen Menschen vor allem Gesten,
  um Sachverhalte zu verdeutlichen oder Aussagen zu unterstreichen.
</p>
<p>
  Die Nutzung und Interpretation dieser Gesten erfolgt im Rahmen der
  zwischenmenschlichen Interaktion intuitiv, zumindest wenn beide Personen dem
  gleichen Kulturkreis angehören. Aus diesem Grund ist es naheliegend, diese
  Interaktionsform im Bereich Mensch-Maschine-Interaktion einzusetzen.
</p>
<p>
  Die Aufmerksamkeit, welche der Vorstellung und Veröffentlichung der Microsoft
  Kinect -Technologie zu Teil wurde, bestätigt diese Überlegung ebenso wie die
  Flut an Beispielanwendungen, die unter Verwendung dieser Technologie in
  kürzester Zeit durch Freizeitentwickler erstellt wurden. Dies ist umso
  bemerkenswerter, angesichts der Tatsache, dass für die Entwicklung solcher
  Anwendungen anfangs weder eine freigegebene Programmierschnittstelle, noch
  eine offizielle Legitimation seitens des Herstellers existierte.
</p>
<p>
  Es wird deutlich, welches Potential in der Technologie gesehen wird Im
  Besonderen die vielfältigen Ideen einer möglichen Anwendung einer
  Gestensteuerung wurden bis vor einigen Jahren noch als Zukunftsvision
  betrachtet. Obwohl die Steuerung von Geräten des täglichen Lebens mit Hilfe
  von Gesten wohl noch ein Stück weit in der Zukunft angesiedelt ist, erreicht
  die Gestenerkennung besonders durch die breite Verfügbarkeit der Technologie
  bereits eine sehr große Anwendergruppe.
</p>
<p>
  Aus dieser Entwicklung erwächst die Frage, wo die Grenze zwischen Idee und
  tatsächlich nutzbarer Anwendung liegt, welche Chancen und Einschränkungen die
  Technologie bietet und vor allem, welche besonderen Anforderungen an eine
  intuitive Nutzung einer Gestensteuerung gestellt werden.
</p>
