<p>
  Multi-touch devices and gesture tracking have recently been established as
  tools for collaborative interactive spaces. Innovative application concepts
  and applicable scenarios in which gesture-based interaction has advantages
  instead of traditional WIMP User Interfaces are necessary. In this article,
  the results of a series of workshops conducted during the last three years are
  presented. These workshops focused on the creation of innovative multi-touch
  applications in the domain of tabletop devices. Furthermore, important lessons
  learned from the setup of these workshops and the arising didactic approaches
  including their benefits and drawbacks are described.
</p>
