<p>
  Die Evolution der Eingabegeräte, wie sie in den letzten Jahren, ausgehend von
  Maus und Tastatur über Multi-Touch hin zur Erfassung des Nutzers und seiner
  Aktionen, stattgefunden hat, erschließt neuartige Formen des Umgangs mit
  digitalen Systemen und verändert die Steuerung und Navigation innerhalb bisher
  wenig erschlossener Interaktionsräume.
</p>
<p>
  Die Verwendung von Systemen, mit denen durch dreidimensional erfasste Gesten
  interagiert wird, bietet reichhaltige Möglichkeiten der Interaktionsgestaltung
  und es lassen sich vielfältige Anwendungsgebiete spezifizieren, in denen eine
  räumliche Interaktion derzeitig vorherrschenden zweidimensionalen
  Eingabemodalitäten überlegen ist. Die Interaktion innerhalb virtueller
  Realitäten ist ein solcher Bereich, welcher durch die Verwendung
  dreidimensionaler Gesten in einer deutlich intuitiveren Art und Weise durch
  den Nutzer erschlossen werden kann, als dies durch die Nutzung
  zweidimensionaler Eingabegeräte der Fall ist.
</p>
<p>
  Räumliche Interaktion beinhaltet unterdessen allerdings auch eine Vielzahl an
  Fragestellungen, deren Beantwortung im derzeitigen Forschungskontext noch
  offen ist. Eine solche Problematik stellt die Wahrnehmung räumlicher
  Dimensionen in der virtuellen Realität dar. Die vorliegenden
  Forschungsergebnisse zeigen eine stark ausgeprägte Fehleinschätzung räumlicher
  Distanzen bei der Interaktion in computergenerierten Darstellungen auf. Da
  eine inkorrekte Einschätzung räumlicher Tiefe in dreidimensionalen Abbildungen
  insbesondere im Rahmen der Gestensteuerung eine erhebliche Einschränkung der
  Nutzbarkeit darstellt, stellt die Frage nach den Ursachen dieser
  Fehleinschätzungen und Möglichkeiten zur Verbesserung der Tiefenwahrnehmung
  einen elementaren Aspekt zur Weiterentwicklung gestenbasierter Interaktion zm
  Rahmen dreidimensionaler Benutzeroberflächen dar.
</p>
<p>
  Ferner ist die gestenbasierte Interaktion nicht auf räumliche Darstellungen
  beschränkt. Die Idee des Ubiquitous Computing formuliert die Idee, dass
  Technologie, unbemerkt in die Umgebung integriert, den Menschen bei seinen
  atltägtichen Tätigkeiten unterstützt {Wei/991}. Diese Vision legt den Schluss
  nahe, Gesten zu nutzen, um die Interaktion unauffällig, intuitiv und
  unkompliziert zu gestalten. Für eine solche Art der Interaktion ist die
  räumliche Gestaltung der Nutzeroberfläche nicht zwangsläufig von Vorteil, eine
  flächige Gestaltung hingegen kann die Nutzung je nach Anwendungskontext
  deutlich vereinfachen. Während die Interaktion in räumlichen Visualisierungen
  mittels zweidimensionaler Eingabegeräte Einschränkungen der Nutzbarkeit zur
  Folge hat, gilt dies for den umgekehrten Fall nicht. im Gegenteil,
  dreidimensionale Gesten ermöglichen die Erschließung zusätzlicher
  Freiheitsgrade, die eine Erweiterung der Funktionalität auf intuitive Art und
  Weise ermöglichen.
</p>
<p>
  Diese Aussagen sind atlerdings unter der Prämisse zu betrachten, dass es
  gelingt, gestenbasierte Interaktion so zu gestalten, dass sie sich dem Nutzer
  schnell erschließt, fehlertolerant ist und nahtlos auf die Aktionen des
  Nutzers reagiert. Gelingt die Umsetzung in dieser Form, so ist die
  Gestensteuerung nicht nur eine technische Innovation, sondern auch stellt auch
  eine neue qualitative Stufe im Bereich der Kommunikation zwischen Mensch und
  Maschine dar.
</p>
