<p>
    Finding new and compelling approaches to interaction
    design for natural user interfaces, is challenging. The
    Interface Exploration studio will offer participants the
    opportunity to explore interaction design for natural
    user interfaces based on physical substances that are
    used in everyday life. Studio organizers will present an
    overview of their methodology, providing examples of
    their experience and comparing it to other
    approaches. They will demonstrate how they analyze
    natural substances regarding the aspects of
    visualization and interaction and what kind of interfaces
    resulted from these findings in initial
    workshops.
</p>
<p>
    Following the demonstration, participants will form
    teams and collaboratively decide which substances or
    materials they would like to analyze. After examining
    and charting relevant aspects, the teams will chose a
    certain task to be solved with a new kind of interface.
    Example tasks will be provided by the studio
    organizers. The next step will be to decompose the
    tasks into required interaction and information needs.
    Finally participants will develop their own interface
    mock-up using stop motion or paper prototyping.
    Finally, studio organizers will facilitate a group critique
    session and offer closing thoughts on employing this
    methodology in one's creative TEI practice.
</p>