<p>
  We propose a tangible notification utility for remote maintenance of flats or
  houses in the context of Internet of Things , focusing on two core aspects:
  First, an alert feature in case of urgent problems which immediately informs
  the user about threats, damages or events with high priority, utilizing sound
  and light to ensure immediate response. Additionally, passive reminder
  functionality was implemented, which is related to tasks or events with low
  priority, in order to inform the user without distracting him from his current
  objectives. The novelty of the approach is the versatility of the devices,
  their mobility and the ability to place them anywhere in proximity to the
  user.
</p>
