<p>
  Controlling the available degrees of freedom in virtual environments often
  represents a challenge for the design of 3D user interfaces. Based on the
  concept of Tangibles and their natural affordances for spatial interaction, we
  conducted a study to investigate how users intuitively use physical objects in
  Virtual Environments. The results reveal a wide range of different approaches.
  This specifically relates to the utilization of an object's surface or edges
  for different functions or as representation of elements in the virtual
  world. The findings of the study have several implications on further
  research directions regarding tangible objects in Virtual Environments.
</p>
