<p>
  Gesture-based interaction in virtual environments often suffers from
  inaccurate depth estimations by the user. In particular, the usability of
  selection and manipulation tasks highly depends on correct distance
  judgments. Since haptic feedback is not available, the visual representation
  and the unambiguous interpretation of spatial configurations are fundamental
  aspects that influence the usability of gesture-based interaction in virtual
  environments. Reasons for incorrect judgment of egocentric depth in
  three-dimensional spaces are still partially unclear. We propose a different
  approach to overcome this issue. We introduce additional artificial depth
  cues, which are designed to improve the user's understand- ing of spatial
  relations within virtual environments. Three visualizations of egocentric
  depth are introduced: a Depth-of-Field effect inspired by focus effects in
  photography, an effect called Color Perspective based on observations of
  the use of color in art, and the visualization of volumetric shadows using
  Crepuscular Rays.
</p>
