<p>
  Nowadays there is a wide variety of Virtual Reality (VR) applications for
  users of all age groups. An essential part of most VR systems is stereoscopy.
  From perceptual research, it is known that stereoscopic perception
  deteriorates with age. As indicator for stereoscopic
  perception, the authors of this and further studies used stereo acuity, i.e.
  the smallest disparity difference detected by the visual system. Norman et al.
  showed that the declined stereo acuity in older humans can cause these
  users to perceive less depth in random-dot stereograms. Since VR applications
  for rehabilitation are advancing, one can expect increasing numbers of elderly
  users. However, up to now it is unclear whether the age-specific changes in
  stereoscopic perception might impair the use of VR applications for older
  people. In our study, we presented stereoscopically rendered virtual objects.
  The primary aim of this study was to examine possible age differences in
  fusion range, relative and absolute distance perception, and visual fatigue.
  Here, we present results of the two tasks concerning distance perception.
</p>
