<p>
  Reaching movements towards stereoscopically presented virtual objects have
  been reported to be imprecise. This might be a problem for touch interaction
  with virtual environments. Estimating the distance to an object in personal
  space relies on binocular disparity and other depth cues but previous work on
  the influence of familiar size for reaching and grasping has produced
  conflicting results. We presented a virtual tennis ball and manipulated
  binocular disparity as well as the size of the tennis ball. The results
  suggest that depth information from binocular disparity and from familiar size
  is combined for reaching movements towards virtual objects. However, subjects
  differed in the weight they assigned to each depth cue.
</p>
