<p>
  The evaluation of innovative user interface concepts using virtual reality
  technology faces many challenges. In this paper, we discuss current
  limitations regarding the integration of virtual reality in a participatory
  design process. Furthermore, we propose guidelines including visualization and
  interaction techniques that address aspects such as presence and awareness in
  virtual worlds. We introduce agricultural machinery and automotive industry as
  application scenarios for virtual reality prototyping. In order to ascertain
  the feasibility of the pro-posed techniques, we present prototypical
  implementations. Our experience re-port concludes with implementation issues
  of current frameworks and open re-search questions.
</p>
