<p>
    At exhibitions, visitors are usually in a completely unknown environment.
    Although visitors generally are informed about the topic
    before a visit, interests are still difficult to extract from the mass of
    exhibition stands and offers. In this paper we describe a concept
    using head-coupled AR together with recommender mechanisms
    for exhibitions. We present a conceptual development for a first
    prototype with focus on navigational aspects as well as explicit
    and implicit recommendations to generate input data for visually
    displayed recommendations.
</p>