<p>
    This case study describes an approach to designing interactive
    museum installations as a student project with the aim of presenting
    the research results of the restoration process of paintings to a wide range
    of visitors. During one and a half years, the Chair of Media Design created
    five interactive media stations in two lectures to enrich the special
    exhibition "Veronese: The Cuccina Cycle. The Restored Masterpiece".
</p>
<p>
    The project was realised in close communication with the conservators of
    the Dresden State Art Collections and the employees of the Science and
    Archaeometric Laboratory of the Dresden University of Fine Arts. The
    students had to learn about the foreign content and how to translate it
    into a media-related environment. With suitable teaching methods, we
    pushed the students towards a deeper understanding of the matter.
</p>