<p>
    Learning Analytics beschreibt das Messen, Sammeln, Analysieren und Berichten
    von Daten, um Lernprozesse verstehen und verbessern zu können. 
    Eng verwandt mit Learning Analytics sind die Bereiche Academic Analytics und 
    Educational Data Mining, die mit jeweils unterschiedlicher Ausrichtung 
    ebenso die datenbasierte Überprüfung, Vorhersage und Änderung von
    akademischen Prozessen untersuchen. 
</p>
<p>
    In diesem Beitrag fokussieren wir entsprechende Benutzungsschnittstellen, 
    welche die gesammelten Daten visualisieren und verfügbar machen. 
    Häufig werden dazu sogenannte Dashboards entwickelt, in denen 
    vorzugsweise Lehrende den Lernfortschritt der Lernenden überprüfen 
    und gegebenenfalls intervenieren können. 
    Unser Anliegen ist es, dass auch die Lernenden selbst ihren Fortschritt angezeigt
    bekommen und diesen so überprüfen und einschätzen können. Dieses Angebot zum
    selbstregulierten Lernen kann auch den Vergleich mit Mitlernenden einschließen. 
    So können eigene Lernstrategien abgebildet und optimiert werden. 
    Auch der Bedarf, mit Lehrenden in Kontakt zu treten, kann sich dabei zeigen. 
</p>
<p>
    Unser Ansatz folgt dabei der Selbstbestimmungstheorie und soll
    Autonomie, Kompetenz und soziale Eingebundenheit in den Lernprozess
    unterstützen. Um einschätzen zu können, welche Bedarfe
    dafür bestehen und welche Funktionen von Lernenden bevorzugt werden, wurde
    eine Online-Umfrage unter Studierenden der HTW Dresden in Bezug auf die
    Lernplattform OPAL1 durchgeführt. Dieser Beitrag beinhaltet die Ergebnisse der
    Umfrage und berichtet erste Schlussfolgerungen hinsichtlich der Umsetzung in
    einer Benutzungsschnittstelle für Lernende.
</p>