<p>
    Dieser Beitrag beschäftigt sich mit den Aufgaben, welche die interaktive Informationsvisualisierung
    für das Berichten von Daten aus Lehr-Lernprozessen im Bereich Learning Analytics übernehmen
    muss. In über zehn Jahren Forschung und Entwicklung etablierte sich dafür ein Begriff und ein Werkzeug:
    Das Learning Analytics Dashboard (LAD). Dieser Beitrag gibt eine Zusammenfassung zu bisherigen
    Konzepten und Herausforderungen für LADs mit einem starken Fokus auf die Lernenden.
    Darüber hinaus wird ein Paradigmenwechsel angeregt, der mehr Kontrolle zum reinen Anzeigen von
    Daten mit einem Dashboard beschreibt. Bildlich gesprochen sollte ein LAD um einen &quot;Steuerknüppel&quot;
    ergänzt und somit ein Learning Analytics Cockpit angeboten werden. Die These lautet, dass wir das
    Navigieren im Lehr-Lernprozess mit solchen Anwendungen stärker in die Hände der Lernenden legen
    können.
</p>