<p>
    Lernplattformen bieten für Lehrende vielfältige Möglichkeiten, 
    Kurse und Materialien digital zur Verfügung zu stellen und Wissen abzuprüfen. 
    Die Ergebnisse vorangegangener Forschungsarbeiten im Kontext der Lernplattform OPAL zeigen, 
    dass die Möglichkeit, den eigenen Lernfortschritt zu überprüfen und eine sinnvoll 
    strukturierte Übersicht über den gesamten Studienablauf zentrale Aspekte für Nutzung 
    einer solchen Lernplattform sind. Auch erweiterte Feedbackoptionen sowie die 
    Vereinfachung und Vereinheitlichung von Werkzeugen werden als Verbesserungswünsche geäußert. 
</p>
<p>
    Basierend auf diesen Ergebnissen stellen wir im vorliegenden Artikel Konzepte für die 
    interaktive Visualisierung des Lernfortschritts im Kontext des Gesamtstudiums, 
    Möglichkeiten zur Steuerung dieses Fortschrittes durch die Darstellung von 
    Zielstellungen und Abweichungen von diesen Zielen sowie der Organisation und 
    Einordnung von Lerninhalten in das Gesamtstudium und die eigenen Schwerpunkte vor. 
    Im Rahmen zweier Nutzerbefragungen wurde die Nutzbarkeit der Konzepte überprüft und 
    darüber hinaus künftige Schwerpunkte und mögliche Erweiterungen diskutiert.
</p>