$color-primary: #0084ba;
$color-primary-light: #1cbefe;

$color-black: #000;
$color-white: #fff;

$color-grey-dark: #666;

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$font-weight-bold: 800;
$font-weight-default: 400;

$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
