---
---

@import "main";


h1 {
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  color: $color-primary;

  font-size: $font-size-large;

  margin-left: 2rem;
}

.timeline {
  position: relative;
  margin-left: 2rem;

  &__line {
    border-left:1px dotted $color-grey-dark;
	  position: absolute;
	  margin: 6rem 0 0 8rem;
	  z-index: -1;
	  height:100%;
	  min-height:100%;
  }    

  &__year {

    &--list {
      margin: 0 0 0 20px;
	    padding: 0;
      list-style: none;
    
    }

    &--element {
      z-index: 0;
      list-style: none;
      padding: 0;
      border-radius: 50px;
      transition: all 1s;
      /*Flex for the win*/
      display: flex;
      align-items: flex-start;
    }    

    &--date {
      
      width: 5rem;
      min-width: 5rem;    
      font-size: 1.6rem;
      transform: translateX(-1.1rem);
      display: inline-block;

      margin-top: 4.5rem;

      font-family: $font-secondary;
      font-weight: $font-weight-default;

      color: $color-black;

      font-size: $font-size-default;

      &::after {       
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-color: $color-white;
        border: 2px solid $color-black;
        border-radius: 100%;
        display: inline-block;
        margin-left: 3rem;
      }
    }

    &--content {
      margin-left: 4rem;
      display:inline-block;

    }
  }

  &__publication {
    &--list {
      margin: 2rem 0 0 0;
	    padding: 0;
      list-style: none;
    }

    &--element {
      margin: 0 0 2rem 0;
    }

    &--content {
      display: grid;
      grid-template-columns: 7rem 1fr;
      align-items: center;
    }

    &--image {
      position: relative;      
    }
    
    &--image-detail {
      display: none;
      position: absolute;
      left: 8rem;
      top: 0;
      width: 1200px;      
      z-index: -1;
      pointer-events: none;
    }

    &--image-preview {
      border: 2px solid $color-grey-dark;
      height: 7rem;

      display: flex;
    
      align-items: center;
      justify-content: center;
      
      &:hover + .timeline__publication--image-detail {
        display: block;
        z-index: 1000;
      }

      & img {
        width: 6.2rem;
        max-width: 6.2rem;
        height: 6.2rem;
        max-height: 6.2rem;

        border: 1px solid $color-black;

      }
    }    

    &--description {
      margin: 0 2rem;
    }

    &--title {
      font-family: $font-primary;
      font-weight: $font-weight-default;
      text-transform: uppercase;
    
      color: $color-primary;
    
      font-size: $font-size-medium;
    }

    &--author {
      font-family: $font-primary;
      font-weight: $font-weight-default;
    
      color: $color-grey-dark;
    
      font-size: $font-size-default;
    }

    &--location {
      font-family: $font-secondary;
      font-weight: $font-weight-default;
    
      color: $color-grey-dark;
    
      font-size: $font-size-small;
    }
  }  
}


p {
    font-family: $font-secondary;
    font-weight: $font-weight-default;
  
    color: $color-grey-dark;
  
    font-size: $font-size-small;
}

